body {
	 
	  background-image: url(clouds.jpg);
	 }

	  h1 {background-color:none;}
	  h1 {font-family: arial, verdana, sans-serif;}
	  h2 {font-family: "Times New Roman", serif; font-style: italic;}
	  h1 {font-size: 30px;}
	  h2 {font-size: 12pt;}
	  h4 {background-color: red, font-size: 120%;}
	  p {font-size: 1em;}
	


 .navbar {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border: 2px solid #0066FF;
        border-radius: 20px 5px;
        width: 550px;
        text-align: center;
        background-color: #33ADFF;
      }
      .navbar li { display: inline; }
      .navbar a {
        color: #fff;
        padding: 5px 10px;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        width: 100px;
      }
      .navbar a:hover {
        border-radius: 20px 5px;
        background-color: #0066FF;
      }



	  